.container{
  display: inline-grid;
}
.mouse{
  background-image: url("https://cdn.pixabay.com/photo/2014/04/02/10/24/mouse-303746_1280.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
  }


.cell{
  border-style: solid;
  border-width: 1px;
  border-color: gray;
}

